.card-component {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5em;
  height: 7em;
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  font-size: 1rem; /* Base font size for scaling */
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin: 4px;
  user-select: none;
}

.card-component.hearts {
  color: red;
}

.card-component.diamonds {
  color: orange;
}

.card-component.spades {
  color: black;
}

.card-component.clubs {
  color: #004d40; /* Dark Teal */
}

.card-component .rank {
  align-self: flex-start;
  font-size: 1.2em;
}

.card-component .suit {
  align-self: flex-end;
  font-size: 1.5em;
}